<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>About Page</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link href="./static/stylesheets/about.css" type="text/css" rel="stylesheet">
</head>

<body style="background-color: #d9dbdb;">

    <nav class="navbar navbar-expand-sm navbar-dark bg-info">
        <div class="container">
          <a href="/" class="navbar-brand">SafeSpace</a>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="/scan" class="nav-link">Verify</a>
            </li>
            <li class="nav-item">
              <a href="/about" class="nav-link active">About</a>
            </li>
          </ul>
        </div>
      </nav>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h4 class="display-3" style="text-align: center; padding-top: 20px;">
                Meet the Creators
            </h4>
            </hr>
        </div>
    </div>

    <div class="container" style="padding-top: 50px;">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="background-color: #979c9c;">
                    <img src="/static/images/neala.jpg" style="width: 100%; height: auto;">
                    <div class="card-block">
                        <h3 class="card-title" style="text-align: center; padding-top: 10px;">Neala Mendoza</h3>
                    </div>
                    <p>Designed a fantastic logo for the web app along with creating home page.
                        In an artistic manner, utilized the HTML, CSS and Bootstrap Library to create
                        the home page</p>
                        
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="background-color: #979c9c;">
                    <img src="/static/images/kyle.jpg" style="width: 100%; height: auto;">
                    <div class="card-block">
                        <h3 class="card-title" style="text-align: center; padding-top: 10px;">Kyle Java</h3>
                    </div>
                    <p>Associated the MongoDB information base to the web application and used
                        that on the backend to keep a tally of base words. Utilizing HTML, CSS,
                        and Bootstrap designed the verification page!</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="background-color: #979c9c;">
                    <img src="/static/images/anish.jpg" style="width: 100%; height: auto;">
                    <div class="card-block">
                        <h3 class="card-title" style="text-align: center; padding-top: 10px;">Anish Dhandore</h3>
                    </div>
                    <p>Worked on the backend and made the beautiful soup algorithm to identify profanity on websites.
                        Also, planned and designed the about page utilizing HTML, CSS, and
                        Bootstrap Library!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="padding-bottom: 50px;">
        <p class="display-6" style="padding-top: 70px; text-align: center;">About us</p>
        <p class="lead">
            We are students at California State University, San Marcos studying Computer Science.
             This tech-driven world and our energy for programming rouses us to create projects for
              a superior eventual fate of the climate. Hackathons and other development workshops have
              been our need for a long and we are positive to take an interest in them to feature our
              inventiveness and thoughts through undertakings. At the point when another innovation
              system or libraries are believed to be dispatched on the lookout, the news itself interests us to jump further!
        </p>
    </div>


  <script src="js/scripts.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>
