<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SafeSpace</title>
    <link rel="stylesheet"href="{{ url_for('static', filename='stylesheets/main.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-info">
      <div class="container">
        <a href="#" class="navbar-brand">SafeSpace</a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/" class="nav-link active">Home</a>
          </li>
          <li class="nav-item">
            <a href="/scan" class="nav-link">Verify</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">About</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container text-center">
      <img src="/static/images/logo.png" alt="logo">
      <h2 class="my-5" id= "sub_header"> 'Creating a safer internet, one webpage at a time... '</h2>
    </div>


    <div class="row my-5 info">
      <div class="col-sm-6 my-5" >
        <img class="" src="/static/images/what.png" style="padding-left: 30px;"></img>
      </div>
      <div class="col-sm-6 text-center my-5">
        <h1 class="mb-5">What is SafeSpace?</h1>
        <h2 class="my-5">
          SafeSpace is a platform that checks if a website is suitable for children. It scans a webpage to see if it contains any
          vulgar or innapropriate language.

        </h2>
      </div>
    </div>
    <div class="row my-5" >
      <div class="col-sm-6 text-center my-5" >
        <h1 class="mb-5">Who is SafeSpace used for?</h1>
        <h5 class="my-5">
          SafeSpace is perfect for parents who want to keep their children safe. It is highly recommended to use SafeSpace
          to avoid exposing the younger audience to bad influences on the internet. SafeSpace is also a great tool for schools.
          Schools can use our platform to figure out which sites need to be blocked, and which sites are safe for students to see.
          Students may stumble across articles or webpages containing profanity, and it is the school's job to make sure to censor
          the right webpages.
        </h5>
      </div>
      <div class="col-sm-6 my-5" >
        <img src="/static/images/who.png" style="padding-left: 30px;"></img>
      </div>
    </div>
    <div class="row my-5 info" >
      <div class="col-sm-6 my-5" >
        <img src="/static/images/why.png" style="padding-left: 30px;"></img>
      </div>
      <div class="col-sm-6 text-center my-5" >
        <h1 class= "mb-5">Why should you use SafeSpace?</h1>
        <h5 class="my-5">
          With the vast use of the World Wide Web, parents and <br>guardians should be aware of the sites their children are using.<br>
          Many webpages aren't suitable for the younger <br> audience, and it is easy for them to stumble upon a site that<br>
          may contain any vulgar language or profanity. It is important to keep children safe from the dangers and harm of the internet<br>

        </h5>
      </div>
    </div>
  </body>
</html>
