<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SafeSpace</title>
    <link rel="stylesheet"href="{{ url_for('static', filename='stylesheets/verify.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  </head>
  <body>
    <!-- NavBar -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-info">
      <div class="container">
        <a href="#" class="navbar-brand">SafeSpace</a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="/scan" class="nav-link active">Verify</a>
          </li>
          <li class="nav-item">
            <a href="/about" class="nav-link">About</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="text-center my-5">
      <img src="/static/images/title.png" alt="Title">
      <h3>Use our website scanner to detect profanity in a webpage!</h3>
    </div>
    <!-- Content -->
    <div class="container">
      <form method="post"class = "text-center my-5" action="/scan">
        <label for="urlLink">Insert URL:</label>
        <input size="50" type="post" name = "url">
        <input type="submit" value="Submit">
      </form>

      <div class="container my-5">
        <div class="card">
          <div class="card-header">
            <h1>RESULTS</h1>
          </div>
          <div class="card-body">
            <h3>{{url}}</h3>
            <hr>
            <h3>{{isSafe}}</h3>
            <hr>
            <h3>{{num_of_bad_words}}</h3>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
